@use '../../../assets/scss/' as *;

#cart {
  .wrapper {
    @include tablet {
      padding: 0 20px;
    }
    .cart-title {
      margin: 40px 0;
      h2 {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    .no-item {
      height: 60vh;
      padding: 40px 0;
      .no-item-shopping {
        @include btnBlack;
        text-transform: uppercase;
        margin-top: 40px;
        max-width: 300px;
      }
    }
    .cart-content {
      margin-bottom: 100px;
    }

    .summary {
      top: 140px;
      position: sticky;
      height: calc(100vh - $topHeight);
      margin-bottom: 50px;
      @include mobile {
        top: 0;
        position: relative;
      }
      .summary-content {
        border: 1px solid $border-color;
        padding: 30px 20px;
        margin-bottom: 30px;
        .title {
          text-transform: uppercase;
          font-size: $font-med;
          font-weight: 700;
          margin-bottom: 30px;
        }
        .item-summary {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .subtotal {
          margin-top: 30px;
          text-transform: uppercase;
          font-weight: 700;
        }
        .item-subtotal,
        .vat,
        .shipping {
          font-size: $font-xsm;
        }
        .discount {
          margin-top: 10px;
        }
        .order-total {
          margin-top: 30px;
          text-transform: uppercase;
          font-weight: 700;
          font-size: $font-med;
        }
      }
      .coupon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        border-top: 1px solid $border-color;
        cursor: pointer;
        .arrow-down {
          transform: rotate(-90deg);
        }
        .icon-coupon {
          margin-right: 6px;
          margin-bottom: -6px;
        }
      }
      .text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $border-color;
        padding: 10px 0;
        margin-bottom: 20px;
      }
      .btn-checkout {
        @include btnRed;
        text-transform: uppercase;
        margin-bottom: 16px;
      }
      .btn-continue-shopping {
        @include btnWhite;
        text-transform: uppercase;
        margin-bottom: 16px;
      }
      .info-shipping {
        color: $gray-color;
        font-size: $font-xsm;
      }
    }
  }
}
