@use '../../../assets/scss/' as *;
#categories {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-color;
  @include mobile {
    display: none;
  }
  .title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: $font-lg;
  }
  .category-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0px;
    .head-text {
      text-transform: uppercase;
    }
  }
  .categories-list {
    display: block;
    padding-left: 20px;
    height: 0;
    overflow: hidden;
    li {
      cursor: pointer;
      padding: 6px 0;
      font-size: $font-xsm;
    }
  }
  .show-list-categories {
    height: 100%;
  }
  .bold {
    font-weight: 700;
  }
}
